<footer>
	<div class="row">
		<div class="small-2 columns">
			<a href="http://twitter.com/iemergeagency"><%= image_tag("logos/Twitter_logo_blue-100x81.png") %></a>
		</div><!-- /.medium-# columns -->
		<div class="small-2 columns">
			<a href="http://twitter.com/iemergeagency"><%= image_tag("logos/FB-f-Logo__blue_100x100.png") %></a>
		</div><!-- /.medium-# columns -->
		<div class="small-8 columns">
			<p>
				<%= t("views.application._footer.copy.website_by") %>
				<%= link_to t("application.developer.name"), t("application.developer.url") %><br />

				&copy;
				<%= Time.now.year %>
				<%= link_to t("application.owner.name"), root_path %><br />
			</p>
		</div><!-- /.medium-# columns -->
	</div><!-- /.row -->
</footer>
