<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags(default_meta_tags) %>

    <%= render "viewport" %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= render "favicons" %>

    <%= csrf_meta_tags %>

    <%= render "analytics" %>
  </head>
  <body id="<%= body_id %>">
    <%= render "notifications" %>

    <%= render "navigation" %>

    <%= yield %>

    <%= render "footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
